*{
    margin:0;
}

html{
    height: 150%;
    background-color: blue;
}


h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}

img{
    height: 200px;
    float: right;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.box{
    height: auto;
    width: auto;
    margin: 8px;
}

.container{
    width: 100%;
}

@media screen and (min-width: 800px) {
    .container{
        width: 100%;
    }

}

@media screen and (width: 801px) {
    .box{
        width: 250px;
        margin: 8px;
    }

}
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    text-align: center;
}
